<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>840528986993-io3oleg7l7qcmafqds1kvrfer55f46s2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840528986993-io3oleg7l7qcmafqds1kvrfer55f46s2</string>
	<key>API_KEY</key>
	<string>AIzaSyB84bSx1imr7d8tM8Usdq6AyPp11UgRJCM</string>
	<key>GCM_SENDER_ID</key>
	<string>840528986993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pradyun</string>
	<key>PROJECT_ID</key>
	<string>ts-fashion-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ts-fashion-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840528986993:ios:431886e9eee19b2ea5ecd0</string>
</dict>
</plist>